# DataBase
POSTGRES_HOST=payments_db
POSTGRES_PORT=5432
POSTGRES_DB=payments_db
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres

# RabbitMQ
RABBIT_HOST=rabbit_mq
RABBIT_PORT=5672
RABBIT_USER=guest
RABBIT_PASSWORD=guest
RABBITMQ_DEFAULT_USER=guest
RABBITMQ_DEFAULT_PASS=guest

# API
API_KEY=123
